<a href="https://colab.research.google.com/github/GowithSubha/dumy/blob/master/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

In [ ]:
# 1. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.
def check_season(month):
  month = month.lower()
  if month in ['september', 'october', 'november']:
    return 'Autumn'
  elif month in ['december', 'january', 'february']:
    return 'Winter'
  elif month in ['march', 'april', 'may']:
    return 'Spring'
  elif month in ['june', 'july', 'august']:
    return 'Summer'
  else:
    return 'Invalid month'

month = input('Enter the month: ')
print(check_season(month))

Enter the month: July
Summer

# 2. Write a function called calculate_slope which return the slope of a linear equation

In [ ]:
# 2. Write a function called calculate_slope which return the slope of a linear equation
def calculate_slope(x1, y1, x2, y2):
  return (y2 - y1) / (x2 - x1)

p1, p2, p3, p4 = map(int, input('Enter the points: ').split())
print(calculate_slope(p1, p2, p3, p4))

Enter the points: 1 2 3 4
1.0

# 3. Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, _solve_quadratic_eqn_.

In [ ]:
# 3. Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, _solve_quadratic_eqn_.
import cmath
def _solve_quadratic_eqn(a, b, c):
  d = (b**2) - (4*a*c)
  sol1 = (-b-cmath.sqrt(d))/(2*a)
  sol2 = (-b+cmath.sqrt(d))/(2*a)
  return sol1, sol2


a, b, c = map(int, input('Enter the coefficients: ').split())
print(_solve_quadratic_eqn(a, b, c))

Enter the coefficients: 1 2 1
((-1+0j), (-1+0j))

# 4. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [ ]:
# 4. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.
def print_list(lst):
  for i in lst:
    print(i, end=" ")

lst = [1, 2, 3, 4, 5]
print_list(lst)

1 2 3 4 5

# 5. Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

In [ ]:
# 5. Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).
def reverse_list(lst):
  return lst[::-1]

lst = [1, 2, 3, 4, 5]
print(reverse_list(lst))

[5, 4, 3, 2, 1]

# 6. Compute the sum up to n terms in the series 1 - 1/2 + 1/3 - 1/4 + 1/5 -... 1/n where n is a positive integer and input by user.

In [ ]:
# 6. Compute the sum up to n terms in the series 1 - 1/2 + 1/3 - 1/4 + 1/5 -... 1/n where n is a positive integer and input by user.
def sum_of_series(n):
  sum = 0
  for i in range(1, n+1):
    if i % 2 == 0:
      sum -= 1/i
    else:
      sum += 1/i
  return sum

n = int(input('Enter the value of n: '))
print(sum_of_series(n))

Enter the value of n: 5
0.7833333333333332

# 7. Write a program to compute sin x for given x. The user should supply x and a positive integer n. We compute the sine of x using the series and the computation should use all terms in the series up through the term involving xn sin x = x - x3/3! + x5/5! - x7/7! + x9/9! ........

In [ ]:
# 7. Write a program to compute sin x for given x. The user should supply x and a positive integer n. We compute the sine of x using the series and the computation should use all terms in the series up through the term involving xn sin x = x - x3/3! + x5/5! - x7/7! + x9/9! ........
def sin_x(x, n):
  sum = x
  fact = 1
  sign = -1
  for i in range(1, n):
    fact *= (2*i) * (2*i + 1)
    sign *= -1
    sum += (sign * (x ** (2*i + 1))) / fact
  return sum

x, n = map(int, input('Enter the value of x and n: ').split())
print(sin_x(x, n))

Enter the value of x and n: 1 3
1.1583333333333334

8. Write a program to compute cosine of x. The user should supply x and a positive integer n.
We compute the cosine of x using the series and the computation should use all terms in the
series up through the term involving xn
cos x = 1 - x2/2! + x4/4! - x6/6! ....

In [ ]:
# 8. Write a program to compute cosine of x. The user should supply x and a positive integer n. We compute the cosine of x using the series and the computation should use all terms in the series up through the term involving xn cos x = 1 - x2/2! + x4/4! - x6/6! ....
def cos_x(x, n):
  sum = 1
  fact = 1
  sign = -1
  for i in range(1, n):
    fact *= (2*i) * (2*i + 1)
    sign *= -1
    sum += (sign * (x ** (2*i))) / fact

  return sum

x, n = map(int, input('Enter the value of x and n: ').split())
print(cos_x(x, n))

Enter the value of x and n: 2 6
1.5453519320185984

# Print the pattern upto N Lines:                      

![image.png]()  .

In [ ]:
def print_pattern(N):
    for i in range(1, N + 1):
        spaces = N - i

        print(" " * spaces + ".")

        for j in range(1, i + 1):
            if j == i:
                print(" " * (spaces - j + 1) + "/" + "_" * (2 * j - 1) + "\\")
            else:
                print(" " * (spaces - j + 1) + "/" + " " * (2 * j - 1) + "\\")

print("Pattern for N = 2:")
print_pattern(2)
print("\nPattern for N = 3:")
print_pattern(3)
print("\nPattern for N = 4:")
print_pattern(4)

Pattern for N = 2:
 .
 /_\
.
/ \
/___\

Pattern for N = 3:
  .
  /_\
 .
 / \
/___\
.
/ \
/   \
/_____\

Pattern for N = 4:
   .
   /_\
  .
  / \
 /___\
 .
 / \
/   \
/_____\
.
/ \
/   \
/     \
/_______\

![image.png]()

In [ ]:
def print_number_segment(number):
    segments = {
        '0': [' - ', '| |', '   ', '| |', ' - '],
        '1': ['   ', '  |', '   ', '  |', '   '],
        '2': [' - ', '  |', ' - ', '|  ', ' - '],
        '3': [' - ', '  |', ' - ', '  |', ' - '],
        '4': ['   ', '| |', ' - ', '  |', '   '],
        '5': [' - ', '|  ', ' - ', '  |', ' - '],
        '6': [' - ', '|  ', ' - ', '| |', ' - '],
        '7': [' - ', '  |', '   ', '  |', '   '],
        '8': [' - ', '| |', ' - ', '| |', ' - '],
        '9': [' - ', '| |', ' - ', '  |', ' - ']
    }

    digits = list(str(number))

    for i in range(5):
        for digit in digits:
            print(segments[digit][i], end=' ')
        print()

print_number_segment(82)

 -   -
| |   |
 -   -
| | |
 -   -

Print the pattern upto N lines:
```
1  2  
4  3

# N=2
```



```
1  2  3
8  9  4
7  6  5

# N=3
```
```
 1  2  3  4
12 13 14  5
11 16 15  6
10  9  8  7

# N=4
```

In [ ]:
def generate_spiral_matrix(N):

    matrix = [[0]*N for _ in range(N)]


    directions = [(0, 1), (1, 0), (0, -1), (-1, 0)]
    dir_idx = 0
    current_num = 1
    x, y = 0, 0

    for _ in range(N * N):
        matrix[x][y] = current_num
        current_num += 1


        next_x = x + directions[dir_idx][0]
        next_y = y + directions[dir_idx][1]


        if 0 <= next_x < N and 0 <= next_y < N and matrix[next_x][next_y] == 0:
            x, y = next_x, next_y
        else:

            dir_idx = (dir_idx + 1) % 4
            x += directions[dir_idx][0]
            y += directions[dir_idx][1]

    return matrix

def print_spiral_matrix(matrix):
    for row in matrix:
        print("\t".join(map(str, row)))

n = int(input('Enter the value of N: '))
print("Pattern for N = ", n)
print_spiral_matrix(generate_spiral_matrix(n))

Enter the value of N: 2
Pattern for N =  2
1	2
4	3

Write a python script  that displays the following table
```
1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125
```

In [ ]:
def print_table(n):
    print("N\t1\tN\tN^2\tN^3")
    col = n;
    for i in range(1, col+1):
        n = i
        n1 = 1
        n2 = n
        n_square = n ** 2
        n_cube = n ** 3

        print(f"{n}\t{n1}\t{n2}\t{n_square}\t{n_cube}")


n = int(input('Enter the number of column: '))
print_table(n)

Enter the number of column: 5
N	1	N	N^2	N^3
1	1	1	1	1
2	1	2	4	8
3	1	3	9	27
4	1	4	16	64
5	1	5	25	125